
/*////////////////////////////////////

    BASE

/////////////////////////////////////*/


/*====================================
    body
====================================*/

body{
    background:$grey;
    position: relative;

    a{
        color:$dark-grey;
        transition:all 0.3s;
        &:hover{
            color:$teal;
        }
    }
}


/*====================================
    h tag
====================================*/


    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        text-transform:uppercase;
        font-weight:400;
    }



/*====================================
    main
====================================*/

main{
    background:white;
}
