
/*////////////////////////////////////

    BASE

/////////////////////////////////////*/

.breadcrumb-item{
  font-size:0.9em;
}

/*====================================
    .carousel-product
====================================*/

.carousel-product{
  &:hover{
    text-decoration:none;
  }

}



/*====================================
    body
====================================*/

body{
    background:$grey;
    position: relative;

    a{
        color:$dark-grey;
        transition:all 0.3s;
        &:hover{
            color:$teal;
        }
    }
}


/*====================================
    h tag
====================================*/


    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        text-transform:uppercase;
        font-weight:400;
    }



/*====================================
    main
====================================*/

main{
    background:white;
}


/*====================================
    .social-fixed
====================================*/
.social-fixed{
    position:fixed;
    top:30%;
    right:0;
    display:flex;
    flex-direction:column;
    z-index: 10;

    a{
        background:white;
        padding:1em;
        color:$teal;
        font-size:1.5em;
        transition:all 0.3s;
        margin-bottom:0.2em;
        &:hover{
            background:$pink;
            color:white;
            text-decoration:none;
        }
    }
}

/*====================================
    .teal-color
====================================*/
.teal-color{
    color:$teal;
}

/*====================================
    .pink-color
====================================*/
.pink-color{
    color:$pink;
}


/*====================================
    .product
====================================*/
.product{

  &-name, &-price{
    text-align:center;
    font-size:0.8em;
  }

  &-name{
    margin-top:0.5em;
    font-size:0.7em;
  }

  &-price{
    color:$teal;
  }

}


/*====================================
    loaders.css
====================================*/
.loader.loader-active{

    .loader-inner{
      display:block;
      margin:auto;
        &>div{
            background:$teal;
        }
    }
}

/*====================================
    .loads
====================================*/

.loads {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeload;
  animation-timing-function: linear;
  background: $lite-grey;
  background: $grey;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, $lite-grey),
    color-stop(18%,$grey),
    color-stop(33%, $lite-grey)
  );
  background: linear-gradient(to right, $lite-grey 8%, $grey 18%, $lite-grey 33%);
  background-size: 1200px 104px;
  position: relative;
}


@keyframes placeload {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

/*====================================
    #react
====================================*/

#react{
  transition:all 0.3s;
}

/*====================================
    .slick-img-container
====================================*/

.slick-img-container{

  position:relative;

  .discount{
    background:$pink;
    color:white;
    position:absolute;
    top:-7px;
    right:0;
    min-width:45px;
    text-align:center;
    padding:9px 4px;
    border-radius:50%;
  }
}

/*====================================
    .star-rating
====================================*/

.star-rating{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  .fa-star,.fa-star-half-alt{
    color: $pink;
    // font-size:3em;
  }
}


/*====================================
    .toggle
====================================*/
.toggle{
  overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .3s;
  &.closed{
    max-height: 0;
  }
}
