
/*////////////////////////////////////

    BASE

/////////////////////////////////////*/


/*====================================
    body
====================================*/

body{
    background:$grey;
    position: relative;

    a{
        color:$dark-grey;
        transition:all 0.3s;
        &:hover{
            color:$teal;
        }
    }
}


/*====================================
    h tag
====================================*/


    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        text-transform:uppercase;
        font-weight:400;
    }



/*====================================
    main
====================================*/

main{
    background:white;
}


/*====================================
    .social-fixed
====================================*/
.social-fixed{
    position:fixed;
    top:20%;
    right:0;
    display:flex;
    flex-direction:column;


    a{
        background:white;
        padding:1em;
        color:$teal;
        font-size:1.5em;
        transition:all 0.3s;
        margin-bottom:0.2em;
        &:hover{
            background:$pink;
            color:white;
            text-decoration:none;
        }
    }
}

/*====================================
    .teal-color
====================================*/
.teal-color{
    color:$teal;
}

/*====================================
    .teal-color
====================================*/
.pink-color{
    color:$pink;
}
