
/*////////////////////////////////////

    HEADER

/////////////////////////////////////*/


.github{

  &-block{
    max-width:350px;
    border-radius: 0 0 0 15px ;
    background: $black;
    padding: 0.7em;
    .icon{
      font-size:30px;
    }
  }

  &-container{
    display:flex;
    justify-content: flex-end;
    border-top:10px solid $black;
    a{
      // border-radius:8px;
      // padding:0.5em;
      // border:solid 1px $dark-grey;
      &:hover{
        text-decoration: none;
      }
    }

  }

}

header{
    position:relative;
}



/*====================================
    #header-block-1
====================================*/

#header-block-1{

    text-transform:capitalize;
    font-size:14px;
    padding-top:3em;



}


/*====================================
    #header-block-2
====================================*/

#header-block-2{

    background:white;
    z-index:5;
    -webkit-box-shadow: 0px 11px 9px -2px rgba(181,181,181,0.7);
    -moz-box-shadow: 0px 11px 9px -2px rgba(181,181,181,0.7);
    box-shadow: 0px 11px 9px -2px rgba(181,181,181,0.7);
    // position:relative;
    // top:2px;

    .icons{
        align-self:center;
        font-size:25px;
    }

    // .navbar{
    //     margin-top:1em;
    // }

    .nav-link{
        text-transform:uppercase;
        font-size:0.9em;
        &:hover{
            color:$dark-grey;
            span{

            }
        }
    }

    .nav-item{
        align-self:stretch;
        padding:0.5em 0;
        position:relative;
    }

    .submenu{
        position:absolute;
        background:$grey;
        display:none;
        top:70%;
        left:0;
        z-index:5;
        padding:1em 3em;

        ul{
            display:block;
        }

        ul > li{
            list-style:none;
        }
    }


    .shopping-number{
        background:$teal;
        padding:15px;
        box-shadow:2px 2px 2px grey;
        color: white;
        border-radius: 15px;
        height: 21px;
        width: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        &.active{
          background:$pink;
        }
    }




}

/*====================================
    #desktop-nav
====================================*/

#desktop-nav{

    .submenu.desktop{
        text-transform:uppercase;
        width:700px;
        font-size:0.7em;
        box-shadow:2px 2px 8px $dark-grey;
        background:white;
        left:-100%;
        ul{
            // border-left:1px $teal solid;
            margin:0;
            padding:0 1em;
            list-style: none;
            text-align:center;
        }

        .header a{
            color:$teal;
            font-size:1.2em;

        }
    }


    > .navbar-nav{
        height:100%;

        > .nav-item{
            display:flex;
            align-items:center;
            padding:0;
        }

    }


    .dropdown-item{
        padding:0.5em 0;
        &:hover{
            background:none;
        }

    }

}


/*====================================
    #mobile-nav
====================================*/

#mobile-nav{

    p{
        margin:1em 0;
    }

    .navbar-nav{
        width:100%;
        display:flex;
    }

    .nav-item{
        border-left:1px solid black;
        display:flex;
        flex:1;
        justify-content: center;


    }

    li.nav-item.dropdown:hover .dropdown-menu{
        display:block;

    }

    .dropdown-menu{
        background:white;
    }

    .submenu{
        top:100%;
        padding:0;
        width:100%;
    }

    .menu.submenu .dropdown-item{
       text-transform: uppercase;
       font-size: 0.8em;
       border-bottom: 1px solid #ededed;
       color: rgba(255,255,255,.5);
       background: #292b2c;
       padding: 1em;
       min-width: 200px;
    }

    .account.submenu .dropdown-item{
        text-transform: capitalize;;
        font-size: 0.8em;
        border-bottom: 1px solid $grey;
        color: $dark-grey;
        background: white;
        padding: 1em;
        min-width: 200px;
        width:100%;
        transition:all 0.3s;
        &:hover{
            background:$lite-grey;
        }
    }


    .search.submenu{
        width:100%;
        background:white;
        padding:1em 0;

        form{
            width:80%;
            margin:auto;
        }

        input{
            border-style:none;
            padding-right:15%;
            font-size:0.9em;
            color:$grey;
        }

        .btn{
            color:$dark-grey;
            background:transparent;
            border-style:none;
        }
    }

}


/*====================================
    MEDIA
====================================*/

@media all and (max-width:992px) {

}
