
/*////////////////////////////////////

    HOME

/////////////////////////////////////*/

#home{

    .slick-slide img{
            padding:0 1em;
    }

    .slick-arrow{
        position:absolute;
        top:45%;
        z-index:2;
        border-style:none;
        background:transparent;
        color:$grey;
        font-size:1.5em;
        transition:all 0.3s;
        &:hover{
            color:$pink;
        }
    }
    .slick-left{
        left:0;
    }
    .slick-right{
        right:0;
    }
}

/*====================================
    #home-block-1
====================================*/

#home-block-1{

    padding-top:0;

    .block-item-6{

        padding:0;
    }

    .text{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        height:280px;
        width:100%;
        text-align:center;
        background:$grey;
        text-transform:uppercase;
        position:relative;

        &:hover{

            h2,
            h3,
            h4,
            p{
                color:white;
            }

            .block-2.hover{
                background:$teal;
                transform:scale(1,1);
            }
        }

        .block-2.hover{
            position:absolute;
            height:100%;
            width:100%;
            top:0;
            transform:scale(0,0);
            transition: all 0.4s;
            z-index:2;

        }

        &.pink{
            background:$pink;
            color:white;

            h4{
                color:white;
            }
        }

        .block-1{

            max-width:80%;
            padding:1em;
            z-index:3;
        }

        h2{
            font-size:3em;
        }

        h4{
            font-size:1.1em;
        }

        p{
            font-size:0.8em;
        }

        h3,h4{
            font-weight:300;

        }

        h4,p{
            color:$teal;
        }


    }

    .block-item-1,
    .block-item-2,
    .block-item-3,
    .block-item-4,
    .block-item-5{
        position:relative;
        .bg-container{
            position:absolute;
            top:0;
            left:0;
            background:transparent;
            width:100%;
            height:100%;
            padding:0.5em;
            display:flex;
            flex-direction:column;
        }

        .bg{
            height:100%;
            width:100%;
            display:flex;
            justify-content: center;
            align-items:center;
            flex-direction:column;
            text-align:right;
        }

        h2{
            color:$teal;
        }


    }

    .block-item-5{

            .bg{
                background:transparentize($dark-grey, 0.5);
            }
    }
}


/*====================================
    #home-block-2
====================================*/

#home-block-2{


}

/*====================================
    #home-block-4
====================================*/


#home-block-4{

    background:$teal;
    color:white;
    font-size:0.8em;

    img{
        border-radius:50%;
    }

    h4{
        text-transform:uppercase;
        font-size:1.2em;
    }

    .quote{
        font-size:4em;
    }
}


/*====================================
    #home-block-5
====================================*/

#home-block-5{

    padding:3em 0;
    font-size:0.8em;

    h4{
        font-size:1.3em;
    }

    .btn{
        background:$teal;
        color:white;
        text-transform:uppercase;
        -webkit-box-shadow: 0px 9px 8px 1px rgba(181,181,181,0.5);
        -moz-box-shadow: 0px 9px 8px 1px rgba(181,181,181,0.5);
        box-shadow: 0px 9px 8px 1px rgba(181,181,181,0.5);
        border-style:none;
        transition:all 0.3s;

        &:hover{
            background:$pink;
        }
    }



    .date,
    .comments{
        color:$teal;
    }

}
